@import url(https://fonts.googleapis.com/css?family=Raleway:700|Lato:400,100,300);

body{
	font: 16px/1.36 'Lato', 'Raleway', sans-serif;
	color: #1C1C1C;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	max-width: 1210px;
	padding-left: 20px;
	padding-right: 20px;
}
.ba-intro {
	padding-top: 50px;
	padding-bottom: 148px;
	background: url(../img/header.jpg) 50% no-repeat;
	background-size: cover;
	color: #FFF;
	text-align: center;
}
.ba-menu {
	margin: 0;
	padding: 0;
	padding-top: 3px;
	list-style: none;
}
.ba-menu li {
	float: left;
}
.ba-menu a {
	padding-left: 50px;
	text-decoration: none;
	color: #FFF;
	word-spacing: 2px;
}
.ba-menu a:hover {
	color: #07AEFB;
}
.ba-header {
	margin-bottom: 236px;
}
.ba-intro__title,
.ba-services__title,
.ba-work__title,
.ba-contact__title {
	position: relative;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	margin: 0;
	margin-bottom: 75px;
}
.ba-intro__title:after,
.ba-services__title:after,
.ba-work__title:after,
.ba-contact__title:after {
	content: '';
	position: absolute;
	left: 43%;
	top: 101px;
	display: block;
	width: 86px;
	height: 2px;
	background-color: #FFF;
}
.ba-intro__text{
	max-width: 630px;
	margin: 0 auto;
	font-size: 22px;
	font-weight: 400;
	padding-bottom: 230px;
}
.ba-intro__button {
	position: absolute;
	display: block;
	left: 47%;
	width: 90px;
	height: 90px;
	border: 4px solid #5D7987;
	border-radius: 50%;
	background-image: url(../img/intro-button.svg);
	background-repeat: no-repeat;
	background-position: 50%;
}
.ba-intro__button:hover {
	border-color: #fff;
}
/* services section */
.ba-services {
	padding-top: 100px;
	padding-bottom: 140px;
}
.ba-services__title:after {
	background-color: #1C1C1C;
	top: 110px;
	left: 46%;
}
.ba-services__title {
	margin-bottom: 146px;
	font-size: 35px;
}
.ba-services-item__img {
	min-height: 152px;
}
.ba-services-item__title {
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 30px;
}
/* about section */
.ba-about {
	background: url(../img/phone-about.png) 79% 100% no-repeat,
	url(../img/about_cover.jpg) 50% no-repeat;
	color: #fff;
	padding-top: 75px;
	padding-bottom: 120px;
}
@media (max-width: 769px) {
	.ba-menu a {
		padding-left: 35px;
	}
	.ba-about {
		background: url(../img/phone-about.png) 95% 78% no-repeat,
		url(../img/about_cover.jpg) 50% no-repeat;
	}
	.ba-about-text {
		max-width: 440px;
	}
}
.ba-about-text {
	padding-top: 45px;
}
.ba-about-text__title {
	font-size: 45px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 0;
}
.ba-about-text p {
	margin: 0;
	padding-bottom: 55px;
	max-width: 520px;
	font-size: 22px;
	font-weight: 100;
}
.ba-about-text a {
	color: #FFF;
}
.ba-about-text a:hover {
	color: #07AEFB;
}
/* work section */
.ba-work {
	padding-top: 105px;
	padding-bottom: 80px;
	text-align: center;
}
.ba-work__title {
	font-size: 35px;
	font-weight: 700;
	margin-bottom: 156px;
}
.ba-work__title:after {
	background-color: #1C1C1C;
	top: 110px;
	left: 46%;
}
.ba-work-item {
	display: block;
	position: relative;
	overflow: hidden;
}
.ba-work-item__img {
	display: block;
}
.ba-work-item__title {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 400;
}
.ba-work__overlay {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	color: #FFF;
	background-color: rgba(62, 62, 62, .8);
	visibility: hidden;
	opacity: 0;
	transition: opacity .3s, visibility .3s;
}

.ba-work-item:hover .ba-work__overlay {
	visibility: visible;
	opacity: 1;
}
.ba-work__button {
	display: inline-block;
	height: 60px;
	line-height: 54px;
	padding: 0 148px;
	border: 4px solid #222222;
	text-decoration: none;
	margin-top: 77px;
	color: #222222;
	font-size: 24px;
	font-weight: 400;
}
.ba-work__button:hover {
	border-color: #07AEFB;
}
.ba-work__button a:active {
	position: relative;
	top: 1px;
}
/* contact section */
.ba-contact {
	padding: 105px 0 120px;
	background: #020D10 url(../img/bg-contact.jpg) 50% no-repeat;
	background-size: cover;
	text-align: center;
}
.ba-contact__title {
	font-size: 35px;
	font-weight: 700;
	color: #FFF;
	margin-bottom: 135px;
}
.ba-contact__title:after {
	top: 115px;
	left: 47%;
}
/* social */
.ba-social {
	text-align: center;
	margin-bottom: 55px;
}
.ba-social a {
	display: inline-block;
	width: 30px;
	height: 30px;
	padding: 0 23px;
}
.ba-social--twitter {
	background: url(../img/social_links/twitter.svg) 50% 100% no-repeat;
}
.ba-social--facebook {
	background: url(../img/social_links/facebooc.svg) 50% 100% no-repeat;
}
.ba-social--linkedin {
	background: url(../img/social_links/linkedin.svg) 50% 100% no-repeat;
}
.ba-social--v {
	background: url(../img/social_links/v.svg) 50% 100% no-repeat;
}
.ba-social--be {
	background: url(../img/social_links/be.svg) 50% 100% no-repeat;
}
/* contact form */
.ba-contact-form {
	max-width: 680px;
	margin: 0 auto;
}
.ba-contact-form__field {
	width: 100%;
	display: block;
	border: none;
	border-bottom: 3px solid #B1B1B1;
	background: transparent;
	color:  #676767;
	font-size: 18px;
	font-style: italic;
	font-weight: 400;
	outline: none;
	padding: 15px 33px;
}
.ba-contact-form__field:focus {
	border-color: #07AEFB;
}
.ba-contact-form__field--textarea {
	margin-top: 87px;
}
.ba-contact-form__button {
	display: inline-block;
	height: 55px;
	line-height: 48px;
	border: 3px solid #fff;
	color: #FFF;
	padding: 0 55px;
	font-size: 24px;
	font-weight: 400;
	background: transparent;
	margin-top: 50px;
}
.ba-contact-form__button:hover {
	border-color: #07AEFB;
}
.ba-contact-form__button:active {
	position: relative;
	top: 1px;
}
@media (max-width: 480px) {
	.ba-menu {
		display: none;
	}
	.ba-header {
		margin-bottom: 65px;
	}
	.ba-intro__title:after {
		left: 37%;
		top: 116%;
	}
	.ba-intro__text {
		padding-bottom: 85px;
	}
	.ba-intro__button {
		width: 80px;
		height: 80px;
		left: 37%;
	}
	.ba-grid > [class*="ba-width-"] {
		padding-bottom: 10px;
	}
	.ba-services {
		padding-top: 50px;
		padding-bottom: 0;
	}
	.ba-about {
		padding-top: 0;
		padding-bottom: 20px;
		background: url(../img/about_cover.jpg) 50% no-repeat;
	}
	.ba-work {
		padding-top: 50px;
		padding-bottom: 40px;
	}
	.ba-services__title,
	.ba-work__title {
		margin-bottom: 65px;
	}
	.ba-services__title:after,
	.ba-work__title:after,
	.ba-contact__title:after {
		top: 70px;
		left: 35%;
	}
	.ba-work__button {
		padding: 0 80px;
		margin-top: 40px;
	}
	.ba-contact__title {
		margin-bottom: 70px;
	}
}
